<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>PathDemo</servlet-name>
        <servlet-class>gz.itcast.a_path.gz.itcast.PathDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResourceDemo</servlet-name>
        <servlet-class>gz.itcast.b_resource.ResourceDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PathDemo</servlet-name>
        <url-pattern>/PathDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResourceDemo</servlet-name>
        <url-pattern>/ResourceDemo</url-pattern>
    </servlet-mapping>
</web-app>